@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}
.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.html {
  border: 0.1rem solid rgb(131, 205, 41);
}
.html:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}
.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.python {
  border: 0.1rem solid rgb(118, 74, 188);
}
.python:hover {
  background: rgba(118, 74, 188, 0.25);
}

.flask {
  border: 0.1rem solid rgb(82, 143, 240);
}
.flask:hover {
  background: rgba(82, 143, 240, 0.25);
}

.java {
  border: 0.1rem solid rgb(25, 118, 210);
}
.java:hover {
  background: rgba(25, 118, 210, 0.25);
}

.swing {
  border: 0.1rem solid rgb(0, 209, 178);
}
.swing:hover {
  background: rgb(0, 209, 178, 0.25);
}

.junit {
  border: 2px solid rgb(0, 112, 243);
}
.junit:hover {
  background: rgba(0, 112, 243, 0.25);
}

.javascript {
  border: 2px solid rgb(255, 65, 84);
}
.javascript:hover {
  background: rgba(191, 69, 69, 0.25);
}

.typescript {
  border: 2px solid rgb(242, 102, 102);
}
.typescript:hover {
  background: rgba(255, 65, 84, 0.25);
}

.firebase {
  border: 2px solid rgb(21, 114, 182);
}
.firebase:hover {
  background: rgba(21, 114, 182, 0.25);
}

.nextjs {
  border: 2px solid rgb(56, 56, 56);
}

.nextjs:hover {
  background: rgba(81, 81, 81, 0.25);
}

.django {
  border: 2px solid rgb(50, 168, 82);
}
.django:hover {
  background: rgba(21, 138, 52, 0.25);
}

.sql {
  border: 2px solid rgb(143, 96, 54);
}
.sql:hover {
  background: rgba(105, 62, 24, 0.25);
}

.sqlite {
  border: 2px solid rgb(230, 226, 204);
}

.sqlite:hover {
  background: rgba(176, 173, 158, 0.25);
}

.postgres {
  border: 2px solid rgb(250, 142, 75);
}
.postgres:hover {
  background: rgba(242, 114, 34, 0.25);
}

.next {
  border: 2px solid rgb(233, 76, 135);
}
.next:hover {
  background: rgba(176, 78, 116, 0.25);
}

.express {
  border: 2px solid rgb(222, 119, 82);
}
.express:hover {
  background: rgba(204, 102, 65, 0.25);
}

.node {
  border: 2px solid rgb(172, 111, 217);
}
.node:hover {
  background: rgba(133, 86, 168, 0.25);
}

.css {
  border: 2px solid rgb(230, 69, 79);
}
.css:hover {
  background: rgba(176, 58, 65, 0.25);
}

.react-native {
  border: 2px solid rgb(163, 207, 175);
}
.react-native:hover {
  background: rgba(103, 130, 110, 0.25);
}

.axios {
  border: 2px solid rgb(211, 173, 224);
}
.axios:hover {
  background: rgba(161, 123, 173, 0.25);
}


